<div class="container">
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <child-element (someChildEvent)="doSomething($event)">
        hello
      </child-element>
      <child-element
        *ngFor="let childElement of childElements"
        [element]="childElement"
        [name]="childElement.name">
        <p #contentParagraph>
          <strong *ngIf="childElement.name === 'element1'" style="color: red">{{ childElement.name }}</strong>
          <em *ngIf="childElement.name === 'element2'">{{ childElement.name }}</em>
        </p>
      </child-element> 
    </div>
  </div>
</div>
